<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.414209701310-3o0ga4cj8c7h3o664c9f2pgeovhdniib</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>414209701310-3o0ga4cj8c7h3o664c9f2pgeovhdniib.apps.googleusercontent.com</string>
</dict>
</plist>
